<p>
  <b>Sensor:</b>
  <%=h @iq_home.sensor %>
</p>

<p>
  <b>Sensor adr:</b>
  <%=h @iq_home.sensor_adr %>
</p>

<p>
  <b>Aktor:</b>
  <%=h @iq_home.aktor %>
</p>

<p>
  <b>Aktor adr:</b>
  <%=h @iq_home.aktor_adr %>
</p>

<p>
  <b>Func:</b>
  <%=h @iq_home.func %>
</p>


<%= link_to 'Edit', edit_iq_home_path(@iq_home) %> |
<%= link_to 'Back', iq_homes_path %>